@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: "Outfit" !important;
  background: #eee;
  margin: 0;
}

h1, .desc {
  align-self: center;
  text-align: center;
}

main.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "text buttons config"
    "display display display";
  grid-template-rows: 1fr auto 5fr;
  grid-template-columns: 4fr auto 4fr;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

main.wrapper > * {
  place-self: center-stretch;
  margin: 10px;
}

h1 {
  grid-area: header;
}

div.textbox {
  grid-area: text;
}

div.textbox textarea {
  width: 100%;
  height: 100%;
  resize: none;

  padding: 5px;
}

textarea, input {
  font-family: "Outfit" !important;
}

div.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

div.buttons > button {
  margin: auto;
  border-radius: 100%;
  height: 3em;
  width: 3em;
  padding: 0 !important;
  background: oklch(0.8 0 0);
}

div.buttons > button#play:not(:disabled) {
  background: oklch(0.8 0.08 140);
}

div.buttons > button#play:active {
  background: oklch(0.8 0.15 140);
}

div.buttons > button#stop:not(:disabled) {
  background: oklch(0.8 0.08 25);
}

div.buttons > button#stop:active {
  background: oklch(0.8 0.15 25);
}

div.setting-block {
  /* because the textbox won't plan nice with margins, we make it look nice on this side manually */
  margin-left: 0 !important;
  grid-area: config;
}

div.setting-block > div.setting {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

div.setting-block > div.setting:has(input[type=range]) {
  padding-bottom: 5px;
}

div.setting-block > div.setting > input[type=number] {
  width: 30%;
}

div.percentage {
  text-align: right;
  flex-grow: 4;
  padding-right: 10px;
}

div.canvas {
  grid-area: display;
}
