<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <!-- to stop chrome from sending a favicon request automatically -->
    <link rel="icon" href="data:;base64,="/>
    <title>Consonance and Vowels</title>
  </head>
  <body>
    <h1>lorem ipsum dolor sit amet</h1>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <div>
      {% for key, settings in input_data.items() %}
        <label for="{{ key }}">{{ settings.name }}</label>
        <input type="{{ settings.type }}"
          min="{{ settings.bounds[0] }}"
          step="{{ settings.bounds[1] }}"
          max="{{ settings.bounds[2] }}"
          value="{{ defaults[key] }}"
          name="{{ key }}"
          id="{{ key }}"
        />
        {% if settings.percentage %}
          <div name="{{key}}" class="percentage"></div>
        {% endif %}
        <br/>
      {% endfor %}

      <label for="sentence">Text to convert</label>
      <textarea name="sentence" id="sentence" rows="5" cols="30"></textarea>
      <br/>

      <button id="play">Play sound</button>
      <button id="stop">Stop playback</button>
    </div>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/websock.js') }}"></script>
    <script>
      var halting = false; // var because we want to hoist it up
      const playBut = document.querySelector("button#play");
      const stopBut = document.querySelector("button#stop");

      function set_button(playing) {
        playBut.disabled =  playing;
        stopBut.disabled = !playing;
      }

      // init function returns send ticket
      init_ws();
      init_audio();

      playBut.addEventListener("click", () => send_ticket(collate_config()));
      // we just halt playback.
      // no point sending a message, because chances are, everything's already been sent and is buffered
      // so, we have no choice but to ignore what we've got until the end
      stopBut.addEventListener("click", () => halting = true);
    </script>
  </body>
</html>
